.cards {
  display: flex;
  justify-content: space-between;
  padding-left: 35px;
  padding-right: 25px;
}

.card {
  width: 200px;
  border-radius: 3px;
  text-align: center;
  padding: 20px;
  border: 1px solid rgb(230, 230, 230);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, .1);
}

.card img {
  height: 100px;
}










/*
<div class="card"></div>
        <img src="images/learn.svg" alt="">
        <h4>Learn to code</h4>
        <p>Lorem ipsum dolor sit amet.</p>*/
